{% extends "base.html" %}

{% block content %}
<center>
<h3>SILA MASUKKAN MAKLUMAT PEMAIN BARU</h3>
 {% set stat=status %}
  <form action='/update' method='post'>
    ID PEMAIN:<br>
    {% if stat=="1": %}
    <input type="text" name="id_pemain" value="{{row[0]}}" readonly><br>
    {% else: %}
    <input type="text" name="id_pemain" value="{{row[0]}}"><br>
    {% endif %}
	NAMA PEMAIN: <br>
    <input type="text" name="nama_pemain" value="{{row[1]}}"><br>
    UMUR: <br>
    <input type="text" name="umur" value="{{row[2]}}"><br>
    NO JERSI: <br>
    <input type="text" name="no_jersi" value="{{row[3]}}"><br>     
    POSISI: <br>
    <input type="text" name="posisi" value="{{row[4]}}" ><br>
	GRED PEMAIN: <br>
    <input type="text" name="gred_pemain" value="{{row[5]}}" ><br>
	
	
   <input type="hidden" name="status" value="{{status}}">
   
    <br>
    <div style="margin: 10px 0; color: red;">
        <span>{{ message }} </span>
    </div>
   <p><input type=submit value=Submit></p>
</form>
</center>

{% endblock %}
